.mainBlockProducts {
  display: flex;
  height: 44.3vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 2.77vw;
  padding-right: 0.85vw;

  &::-webkit-scrollbar {
    width: 0.4vw;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1vw;
    background: var(--color-lightGreyScrollBar);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-darkBlueTwo);
    border-radius: 1vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
  }

  & .blockProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.05vw;
  }
}

@media (min-width: 1920px) {
  .mainBlockProducts {
    height: 850px;
    margin-top: 53px;

    &::-webkit-scrollbar {
      width: 0.4vw;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }

    & .blockProducts {
      gap: 20px;
    }
  }
}

@media (min-width: 2560px) {
  .mainBlockProducts {
    height: 1000px;
  }
}
