.mainBlockProducts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 42.5vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  margin-top: 2.77vw;
  padding-right: 0.85vw;
  padding-bottom: 3.15vw;
  gap: 1.05vw;

  &::-webkit-scrollbar {
    width: 0.4vw;
  }

  &::-webkit-scrollbar-track {
    border-radius: 1vw;
    background: var(--color-lightGreyScrollBar);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-darkBlueTwo);
    border-radius: 1vw;
  }

  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
  }
}

@media (min-width: 1920px) {
  .mainBlockProducts {
    height: 815px;
    margin-top: 53px;
    gap: 20px;
    padding-bottom: 60px;

    &::-webkit-scrollbar {
      width: 0.4vw;
    }

    &::-webkit-scrollbar-track {
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
    }
  }
}

@media (min-width: 2200px) {
  .mainBlockProducts {
    height: 920px;
  }
}

@media (min-width: 2560px) {
  .mainBlockProducts {
    height: 1000px;
  }
}
